@font-face {
  font-family: 'Moon2.0-Light';
  src: url('../fonts/Moon2.0-Light.eot');
  src: url('../fonts/Moon2.0-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Moon2.0-Light.svg#Moon2.0-Light') format('svg'),
       url('../fonts/Moon2.0-Light.ttf') format('truetype'),
       url('../fonts/Moon2.0-Light.woff') format('woff'),
       url('../fonts/Moon2.0-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon2.0-Regular';
  src: url('../fonts/Moon2.0-Regular.eot');
  src: url('../fonts/Moon2.0-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Moon2.0-Regular.svg#Moon2.0-Regular') format('svg'),
       url('../fonts/Moon2.0-Regular.ttf') format('truetype'),
       url('../fonts/Moon2.0-Regular.woff') format('woff'),
       url('../fonts/Moon2.0-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moon2.0-Light';
  src: url('../fonts/Moon2.0-Light.eot');
  src: url('../fonts/Moon2.0-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Moon2.0-Light.svg#Moon2.0-Light') format('svg'),
       url('../fonts/Moon2.0-Light.ttf') format('truetype'),
       url('../fonts/Moon2.0-Light.woff') format('woff'),
       url('../fonts/Moon2.0-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: env(safe-area-inset);
    overflow-x: hidden;
}

body {
  font-family: "SF Pro Display", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05rem;
  -webkit-font-smoothing: antialiased;
  color: black;
}

p {
  font-size: 1.5rem;
  color: #A2A4A6;
  text-align: left;
}
ul {
  list-style-position: inside;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: 500;
  text-align: left;
  margin-bottom: 3%;
}
ul {
  padding: 0;
}
h4, li {
  color: #4F4F4F;
  font-size: 1.25rem;
}
li {
  line-height: 3;
}
a {
  color: inherit;
}

hr {
  margin: 3% auto;
  width: 75%;
}

/* Title */
.main-header {
  letter-spacing: 0.05em;
  margin-bottom: 3%;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: inherit;
}
/* Containers */
.container-fluid {
  padding: 2% 1%;
  padding-bottom: 5%;
}

/* Title Section */
#title {
  /* background-color: #000839; */
  background-image: url("../images/space-desktop.jpeg");
  background-size: cover;
}

.highlight {
  color: #00D1FF;
}

.section-intro {
  width: 65%;
  max-width: 650px;
  margin: 4rem auto 0;
}

.main-summary {
  text-align: left;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
  color: #E5E5E5;
}

/* Navigation Bar */
.navbar {
  padding-right: 5%;
  padding-bottom: 4rem;
}
.navbar-toggler {
  margin-top: 5%;
}

.navbar-brand {
  color: white;
  position: absolute;
  padding: 0;
  top: 5%;
  left: 5%;
  line-height: normal;
  font-family: "Moon2.0-Light";
  font-weight: 100;
  font-size: 3rem;

}

.navbar-collapse {
  margin-top: 2%;
}

.nav-item {
  margin-left: auto;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #E5E5E5;
}

/* Scroll Vector */
.scroll-down-cue {
  margin: 8% auto;
  display: block;
  width: 100%;
  text-align: center;
  animation: fade 5s linear;
  animation-iteration-count:infinite;
}

.scroll-down-cue a {
  width: 70px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  filter: alpha(opacity=60);
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

/* About Me Section */

#about {
  background-color: #E5E5E5;
  color: #000839;
  text-align: center;
}

.about {
  padding-left: 5%;
  padding-right: 5%;
}
.about-text {
  margin: auto;
  color: #4F4F4F;
  width: 65%;
}

.download {
  margin-top: 2rem;
}


.col-lg-6 {
  margin: 5% auto;
  text-align: left;
  padding: 0 15%;
}
.progress {
  margin-bottom: 4%;
}

.skill-progress {
  display: inline-block;
  margin: 0 auto;

  text-align: left;
}


/* Projects Section */

#projects {
  margin: 0 auto;
  color: #E5E5E5;
  background-color: #060C32;
}

#projects .col-lg-6 {
  padding: 0 5% 7%;
}

.img-col {
  text-align: center !important;
}
.tower-img {
  width: 65%;
  height: 100%;
}

.img-fluid {
  max-width: 60%;
}
.carousel-inner img {
  margin: auto;
}

/* Footer Section */
#footer {
  text-align: center;
  background-color: #556E53;
}
.social-icon {
  font-size: 2rem;
  margin: 20px 20px;
}

 a:hover {
  color: #4F4F4F;
}

@media screen and (max-width: 1300px) {


  h3, h4 {

  }


  .navbar-toggler-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 5%;
  }

}
@media screen and (max-width: 712px) {
  body {
    font-size: 1rem;
  }

  h1, h2, h3, h4, p {
    text-align: center;
  }

  p {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4, li{
    font-size: 1rem;
  }
  #title {
    background-image: url("../images/space-mobile.jpg");
  }

  h3, h4 {
    text-align: center;
  }

  /* Title Section */
  .main-header {
    margin: 3% auto;
    font-size: 2rem;
  }

  .navbar-brand {
    top: 0;
    left: 1rem;
  }

  .section-intro {
    margin: 15% auto 0;
    width: 85%;
    min-width: inherit;
  }

  .main-summary {
    padding-left: 5%;
    font-size: 1.5rem;
  }

  .scroll-down-cue {
    margin: 20% 0 40%;
  }
/* About Section */
  .about-text {
    width: 85%;
  }

  /* Project Section */
  #projects .col-lg-6 {
    margin-top: 5%;
    padding: 0 5% 7%;
    text-align: center;
  }

  .project-description {
    margin: auto;
    width: 85%;
  }

  /* Footer */
  .social-icon {
    font-size: 1.5rem;
    margin: 20px 10px;
  }

}
